header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 25px;
}

header > span {
  font-size: 30px;
  line-height: 34px;
  color: rgba(102, 170, 238, 0.91);
  font-weight: bold;
}
