header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 25px;
}

#ton-connect-button,
#ton-connect-button button,
#ton-connect-button div {
  width: 100% !important;
}
