.clicker-image {
  width: 100%;
  cursor: pointer;
  height: 100%;
  padding: 20px;
}

.clicker {
  text-align: center;
  cursor: pointer;
  border: 1px solid #353747;
  border-radius: 50%;
  box-shadow: #4040b842 0px 0px 10px;
  background-color: #1f1e2c;
  margin: calc(50% - 87px) auto;
  max-width: 92%;
}
